#slideshow {
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 1.5rem;
}

#slideshow .slide {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
}

#slideshow .fadeIn {
  opacity: 1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#slideshow .fadeOut {
  opacity: 0;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}
/*# sourceMappingURL=slideshow.css.map */