#slideshow
    list-style-type: none
    margin: 10px 0px 0px 0px
    padding: 0px
    position: relative
    display: flex
    justify-content: center
    height: 1.5rem
    .slide
        position: absolute
        font-size: 1.5rem
        font-weight: bold
    .fadeIn
        opacity: 1
        transition: 1.5s

    .fadeOut
        opacity: 0
        transition: 1.5s