$black: hsla(0, 0%, 0%, 0.8)
$white: #ebecf0
$gray: #b5b5b5
$darkPurple: #1e0b3a
$lightPurple: #634BDD
$lightGreen: #388B8F    
$fontMain: 'Noto Serif KR', serif;
$fontSecondary: 'Source Serif Pro', serif
$fontDigital: 'Megrim', cursive

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,700|Source+Serif+Pro:400,700|Poiret+One');

html
    font-family: $fontMain
h1,h2,h3,h4,h5,h6
    font-family: $fontSecondary
    margin: 0px

a
    position: relative
    color: $lightGreen
    text-decoration: none
    transition: 0.5s
    &:before
        position: absolute
        bottom: 0
        content: ' '
        height: 1px
        width: 0px
        background-color: $lightPurple
        transition: 0.5s
        margin: auto
    &:hover
        color: $lightPurple
        &:before
            width: 100%

.bold
    font-weight: bold
    font-size: 1.2rem

.disclaimer
        font-size: 0.7rem
        font-style: italic
        margin-bottom: 1.45rem
        line-height: 15px



#pageWrapper
    background-color: $white
    position: absolute
    top: 0
    left: 0
    min-height: 100%
    width: 100%
    padding: 0
    margin: 0
    #header
        z-index: 100
        width: 100%
        height: 60px
        background-color: $darkPurple
        background-image: url('../images/Subtle-Prism.svg')
        background-attachment: fixed
        box-shadow: 0px 0px 5px 2px $black
        .wrapper
            margin: auto
            max-width: 960px
            padding: 0px 15px
            height: 100%
            display: flex
            justify-content: space-between
            align-items: center
            #logo
                height: 75%
                width: auto

    #content
        background-image: url('../images/Large-Triangles.svg')
        background-attachment: fixed
        padding: 0px 0px 50px 0px
        #hero
            background-color: $darkPurple
            background-image: url('../images/computer-bg.jpg')
            background-position-y: top
            background-position-x: center
            background-attachment: fixed
            height: 75vh
            display: flex
            justify-content: center
            align-items: center
            #heroContentWrapper
                display: flex
                width: 100%
                max-width: 1200px
                margin-right: 60px
                .heroContent
                    flex: 1
                    text-align: center
                    color: $white
                .heroRight
                    position: relative
                    box-shadow: 0px 0px 2px 5px rgba($black, 0.5)
                    border-radius: 3px
                    background-color: rgba($black, 0.5)
                    padding: 15px 5px
                    h1
                        border-bottom: 1px solid $gray
                        padding: 0px 15px 15px 15px
                        margin: auto
                        margin-bottom: 15px
                        display: inline-block
        .innerContent
            max-width: 1200px
            margin: auto
            margin-top: 60px
            width: 100%
            .title
                border-bottom: 5px solid $lightPurple
                padding: 0px 15px
            .textblock
                padding: 30px
                padding-bottom: 0px
                margin: 0
            #projects
                #projectWrapper
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: auto 
                    grid-gap: 20px
                    padding: 15px
                    .projectFooter
                        position: absolute
                        bottom: 0
                        left: 0px
                        right: 0px
                        display: flex
                        border-top: 1px solid rgba($black, 0.3)
                        padding-left: 30px
                        font-size: 0.8rem
                        margin: 0px
                        list-style-type: none
                        li
                            margin: 0px
                            &:after
                                content: '|'
                                margin: 0px 7px
                            &:last-child:after
                                content: ''
    #footer
        position: absolute
        bottom: 0
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        height: 50px
        font-size: 0.7rem

.interestCalcTitle
    font-family: 'Poiret One', cursive

.project,
.post
    position: relative
    background-color: rgba($black, 0.03)
    box-shadow: 4px 4px 2px 0px rgba($black, 0.4)
    border-radius: 3px
    padding: 15px
    .projectTitle,
    .postTitle
        margin-bottom: 15px
    .publishedAt
        font-size: 0.85rem
        color: darken($gray, 30%)

/*Techsetta Blog Section*/
#blog
    .innerContent
        padding: 0px 10px
        .blog-desc
            padding: 0px 20px
            margin: 26px 0px
        #techsettaLogo
            height: 50px
            max-width: 100%
        #blog-posts
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 25px
            .publishedAt
                font-size: 15px
                font-family: $fontSecondary

@media only screen and (max-width: 860px)
    #pageWrapper
        #content
            #hero
                background-position: center
                #heroContentWrapper
                    margin: 15px
                    .heroLeft
                        display: none
    #projectWrapper
        grid-template-columns: 1fr !important
    #blog
        .innerContent
            #blog-posts
                grid-template-columns: repeat(2, 1fr)
@media only screen and (max-width: 640px)
    #blog
        .innerContent
            #blog-posts
                grid-template-columns: repeat(1, 1fr)