@import url("https://fonts.googleapis.com/css?family=Noto+Serif+KR:300,400,700|Source+Serif+Pro:400,700|Poiret+One");
html {
  font-family: "Noto Serif KR", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", serif;
  margin: 0px;
}

a {
  position: relative;
  color: #388B8F;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a:before {
  position: absolute;
  bottom: 0;
  content: ' ';
  height: 1px;
  width: 0px;
  background-color: #634BDD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
}

a:hover {
  color: #634BDD;
}

a:hover:before {
  width: 100%;
}

.bold {
  font-weight: bold;
  font-size: 1.2rem;
}

.disclaimer {
  font-size: 0.7rem;
  font-style: italic;
  margin-bottom: 1.45rem;
  line-height: 15px;
}

#pageWrapper {
  background-color: #ebecf0;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#pageWrapper #header {
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #1e0b3a;
  background-image: url("../images/Subtle-Prism.svg");
  background-attachment: fixed;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.8);
}

#pageWrapper #header .wrapper {
  margin: auto;
  max-width: 960px;
  padding: 0px 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pageWrapper #header .wrapper #logo {
  height: 75%;
  width: auto;
}

#pageWrapper #content {
  background-image: url("../images/Large-Triangles.svg");
  background-attachment: fixed;
  padding: 0px 0px 50px 0px;
}

#pageWrapper #content #hero {
  background-color: #1e0b3a;
  background-image: url("../images/computer-bg.jpg");
  background-position-y: top;
  background-position-x: center;
  background-attachment: fixed;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pageWrapper #content #hero #heroContentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: 60px;
}

#pageWrapper #content #hero #heroContentWrapper .heroContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #ebecf0;
}

#pageWrapper #content #hero #heroContentWrapper .heroRight {
  position: relative;
  -webkit-box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 5px;
}

#pageWrapper #content #hero #heroContentWrapper .heroRight h1 {
  border-bottom: 1px solid #b5b5b5;
  padding: 0px 15px 15px 15px;
  margin: auto;
  margin-bottom: 15px;
  display: inline-block;
}

#pageWrapper #content .innerContent {
  max-width: 1200px;
  margin: auto;
  margin-top: 60px;
  width: 100%;
}

#pageWrapper #content .innerContent .title {
  border-bottom: 5px solid #634BDD;
  padding: 0px 15px;
}

#pageWrapper #content .innerContent .textblock {
  padding: 30px;
  padding-bottom: 0px;
  margin: 0;
}

#pageWrapper #content .innerContent #projects #projectWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
  padding: 15px;
}

#pageWrapper #content .innerContent #projects #projectWrapper .projectFooter {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 30px;
  font-size: 0.8rem;
  margin: 0px;
  list-style-type: none;
}

#pageWrapper #content .innerContent #projects #projectWrapper .projectFooter li {
  margin: 0px;
}

#pageWrapper #content .innerContent #projects #projectWrapper .projectFooter li:after {
  content: '|';
  margin: 0px 7px;
}

#pageWrapper #content .innerContent #projects #projectWrapper .projectFooter li:last-child:after {
  content: '';
}

#pageWrapper #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-size: 0.7rem;
}

.interestCalcTitle {
  font-family: 'Poiret One', cursive;
}

.project,
.post {
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 15px;
}

.project .projectTitle,
.project .postTitle,
.post .projectTitle,
.post .postTitle {
  margin-bottom: 15px;
}

.project .publishedAt,
.post .publishedAt {
  font-size: 0.85rem;
  color: dimgray;
}

/*Techsetta Blog Section*/
#blog .innerContent {
  padding: 0px 10px;
}

#blog .innerContent .blog-desc {
  padding: 0px 20px;
  margin: 26px 0px;
}

#blog .innerContent #techsettaLogo {
  height: 50px;
  max-width: 100%;
}

#blog .innerContent #blog-posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

#blog .innerContent #blog-posts .publishedAt {
  font-size: 15px;
  font-family: "Source Serif Pro", serif;
}

@media only screen and (max-width: 860px) {
  #pageWrapper #content #hero {
    background-position: center;
  }
  #pageWrapper #content #hero #heroContentWrapper {
    margin: 15px;
  }
  #pageWrapper #content #hero #heroContentWrapper .heroLeft {
    display: none;
  }
  #projectWrapper {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  #blog .innerContent #blog-posts {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 640px) {
  #blog .innerContent #blog-posts {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */